<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db3</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <h1>Enter Academic Calendar</h1>
    <form method="post" enctype="multipart/form-data" action="/db3">
        {% csrf_token %}
        <label>Select CSV file:</label>
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>